<h1>Editions</h1>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Desc</th>
      <th scope="col">Number</th>
      <th scope="col">Distribution</th>
      <th scope="col">Issue</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @editions.each do |edition| %>
      <tr>
        <td><%= edition.title %></td>
        <td><%= edition.desc %></td>
        <td><%= edition.number %></td>
        <td><%= edition.distribution %></td>
        <td><%= edition.issue.filename %></td>
        <td><%= link_to 'Show', edition %></td>
        <td><%= link_to 'Edit', edit_edition_path(edition) %></td>
        <td><%= link_to 'Destroy', edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Edition', new_edition_path %>
