<h1><% t('edition.header.show') %></h1>

<dl>
  <dt><%= t('edition.show.title') %></dt>
  <dd><%= @edition.title %></dd>
  <dt><%= t('edition.show.description') %></dt>
  <dd><%= @edition.description %></dd>
  <dt><%= t('edition.show.number') %></dt>
  <dd><%= @edition.number %></dd>
  <dt><%= t('edition.show.distribution') %></dt>
  <dd><%= @edition.distribution %></dd>
  <dt><%= t('edition.show.issue') %></dt>
  <dd>
    <%= render 'editions/edition_issue_preview', issue: @edition.issue, size: 500 %>
  </dd>
</dl>
<%= link_to t('edition.link.edit'), edit_edition_path(@edition) %> |
<%= link_to t('edition.link.back'), editions_path %>
